body {
background-color: #F0F0F0;
}


a {

  font-family: 'Bangers', sans-serif;
  font-size: 20px;
  color: #FF3D5D;
}

a:hover {
text-decoration: none;
font-family: 'Bangers', sans-serif;
font-size: 20px;
color: blue;
}



.first {
  text-align: center;
}

.second {
  text-align: center;
  margin-top: -60px;
}


.one {
  font-family: 'Bangers', sans-serif;
  font-size: 125px;
  color: #FF3D5D;
  margin-top: 50px;
  font-weight: 500;
}

.two {
  font-family: 'Bangers', sans-serif;
  font-size: 90px;
  color: grey;
  margin-top: -20px;
}

.three {
  font-family: 'Bangers', sans-serif;
  font-size: 26px;
  color: #C35CFF;
  margin-top: 10px;
}

.four {
  font-family: 'Bangers', sans-serif;
  font-size: 24px;
  color: #587DF8;
  margin-top: 50px;
}

.five {
  font-family: 'Bangers', sans-serif;
  font-size: 68px;
  font-weight: 700;
  color: #315DEC;
  margin-top: -5px;
}

.six {
  font-family: 'Bangers', sans-serif;
  font-size: 68px;
  color: #587DF9;
}


@keyframes pulsowanie {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}


.seven {
  font-family: 'Bangers', sans-serif;
  font-size: 26px;
  color: #587DF9;
  margin-bottom: 50px;
}


.eight {
  font-family: 'Bangers', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: grey;
  margin-bottom: 50px;
  margin-top: -20px;

}


.eight:hover {
  font-family: 'Bangers', sans-serif;
  font-size: 28px;
  color: #FF3D7E;
  margin-bottom: 50px;
  transition: 2s;
}

.eight:hover + .nine {
  display: block;
  animation-name: pulsowanie;
  animation-duration: 2s;

}

.nine {
display: none;
font-family: 'Bangers', sans-serif;
font-size: 22px;
color: grey;
margin-top: -40px;
}

.ten {
  font-family: 'Bangers', sans-serif;
  font-size: 26px;
  font-weight: 500;
  color: #315DEC;
  margin-bottom: 50px;
}




h1 {

  text-align: center;
  font-family: 'Bangers', sans-serif;
  font-size: 10vh;
}


h2 {

    text-align: center;
    font-family: 'Bangers', sans-serif;
    font-size: 5vh;
  }


.header-font {
  font-family: 'Bangers', sans-serif;
  font-size: 5vh;
}


h3 {
  text-align: center;
  font-family: 'Bangers', sans-serif;
}

i {
  font-size: 12vh;
  font-family: 'Bangers', sans-serif;
}

p {
  text-align: center;
  font-size: 2vh;
  font-family: 'Bangers', sans-serif;
}

h3 {
  transition: 2s;
}

h3:hover {
  transform: translate(0px, -10px);
}


.star {
font-size: 3.4vh;
transition: 2s;
font-family: 'Bangers', sans-serif;
color: grey;
}

.star:hover {
transform: scale(1.2);
color: #FF3D5D;
}


.devicon-html5-plain  {
color: grey;
}
.devicon-html5-plain:hover  {
color: #FF3D5D;
}

.devicon-css3-plain {
color: grey;
}
.devicon-css3-plain:hover  {
color: #FF3D5D;
}

.devicon-javascript-plain {
color: grey;
}
.devicon-javascript-plain:hover  {
color: #FF3D5D;
}

.devicon-jquery-plain {
color: grey;
}
.devicon-jquery-plain:hover  {
color: #FF3D5D;
}

.eleven {
margin-top: 40px;
font-family: 'Bangers', sans-serif;
font-size: 25px;
color: #315DEC;
}

.eleven:hover {
  text-decoration: none;
  font-family: 'Bangers', sans-serif;
  font-size: 25px;
  color: #FF3D5D;

}


.menu-wrap a {
	color: #b8b7ad;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
	color: #c94e50;
}

.content-wrap {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
}

.content {
	position: relative;
	background: #b4bad2;
}

.content::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
	transition: opacity 0.4s, transform 0s 0.4s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

/* Menu Button */
.menu-button {
	position: fixed;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
	background: transparent;
}

.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
	content: '';
}

.menu-button:hover {
	opacity: 0.6;
}

/* Close Button */
.close-button {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 16px;
	border: none;
	z-index: 1001;
	background: transparent;
	color: transparent;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #888;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Menu */
.menu-wrap {
	position: absolute;
	z-index: 1001;
	width: 280px;
	height: 100%;
	font-size: 1.15em;
	-webkit-transform: translate3d(-280px,0,0);
	transform: translate3d(-280px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
}

.menu {
	position: relative;
	z-index: 1000;
	padding: 3em 1em 0;
}

.menu,
.close-button {
	opacity: 0;
	-webkit-transform: translate3d(-160px,0,0);
	transform: translate3d(-160px,0,0);
	-webkit-transition: opacity 0s 0.3s, -webkit-transform 0s 0.3s;
	transition: opacity 0s 0.3s, transform 0s 0.3s;
	-webkit-transition-timing-function: cubic-bezier(.17,.67,.1,1.27);
	transition-timing-function: cubic-bezier(.17,.67,.1,1.27);
}

.icon-list a {
	display: block;
	padding: 0.8em;
}

.icon-list i {
	font-size: 1.5em;
	vertical-align: middle;
	color: #282a35;
}

.icon-list a span {
	margin-left: 10px;
	font-size: 0.85em;
	font-weight: 700;
	vertical-align: middle;
}

/* Morph Shape */
.morph-shape {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	fill: #373a47;
}

/* Shown menu */
.show-menu .menu-wrap,
.show-menu .content::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.show-menu .menu-wrap,
.show-menu .menu,
.show-menu .close-button,
.show-menu .morph-shape,
.show-menu .content::before {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.show-menu .menu,
.show-menu .close-button {
	opacity: 1;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}



#section10 a {
	padding-top: 60px;
}
#section10 a span {
	position: absolute;
	left: 50%;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	border: 2px solid grey;
	border-radius: 50px;
	box-sizing: border-box;
}
#section10 a span::before {
	position: absolute;
	left: 50%;
	content: '';
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: grey;
	border-radius: 100%;
	-webkit-animation: sdb10 2s infinite;
	animation: sdb10 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
	0% {
		-webkit-transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		-webkit-transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb10 {
	0% {
		transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
